.dogs-span {
  column-count: 3;
  column-width: 30rem;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  margin: 40px;
  padding: 60px 30px 30px 30px;
  box-shadow: 0px 0px 30px .5px rgba(0, 0, 0, .15);
  transition: .2s ease-in-out;
}

a {
  text-decoration: none;
}

.card {
  display: flex;
  justify-content: center;
  padding: 10px;
  page-break-inside: avoid;
  break-inside: avoid;
}

.filter-span {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filter {
  width: 100%;
}

@media screen and (max-width: 620px) {
  .dogs-span {
    margin: 10px;
    padding: 30px 10px 10px 10px;
  }
}